{% extends '/panel/page.html.twig' %}

{% block content %}
    <div class="bg-secondary rounded m-4 p-3 row">
        <span style="font-size: 19px; padding: 0;">Utility meter readings</span> <br>
        <table class="table-primary mt-2">
            <thead>
            <tr>
                <th scope="col" style="width: 25%;">Date</th>
                <th scope="col"><span class="mx-1">Water</span></th>
                <th scope="col"><span class="mx-1">Gas</span></th>
                <th scope="col"><span class="mx-1">Electricity</span></th>
            </tr>
            </thead>
            <tbody>
            {% for reading in utility_meters %}
                <tr class="pt-5">
                    <th scope="row">
                        {% if app.user.getRoles[0] == 'ROLE_LANDLORD' %}
                            {% if not reading.wasEdited %}
                                <a href="{{ path('app_flats_utility_meters_edit', {id: flat.id, readingId: reading.id}) }}" class="btn-success" title="Add cost of those utilities"><i class="fa-solid fa-circle-plus"></i></a>
                            {% endif %}
                            <a href="{{ path('app_flats_utility_meters_delete', {id: flat.id, readingId: reading.id}) }}" style="color:#dc3545;" title="Remove this reading"><i class="fa-solid fa-circle-minus"></i></a>
                        {% endif %}
                        {{ reading.date | date('d-m-Y') }}
                    </th>
                    <td>{{ reading.water.amount }} m<sup>3</sup>, {{ reading.water.cost }} zł</td>
                    <td>{{ reading.gas.amount }} m<sup>3</sup>, {{ reading.gas.cost }} zł</td>
                    <td>{{ reading.electricity.amount }} m<sup>3</sup>, {{ reading.electricity.cost }} zł
                        <a class="text-success expand-invoices mx-1" data-bs-toggle="collapse" href="#reading-{{ reading.id }}" role="button" aria-expanded="false" aria-controls="reading-{{ reading.id }}">
                            <i class="fa-solid fa-chevron-down"></i>
                        </a>
                    </td>
                </tr>
                <tr class="invoices-collapse" id="{{ reading.id }}">
                    {% for invoice in reading.invoices %}
                        <td>
                            <a href="/uploads/invoices/flat{{ flat.id }}/{{ reading.date|date('d-m-Y') }}/{{ invoice }}" target="_blank">{{ invoice }}</a>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <hr>
        {% if app.user.roles[0] == 'ROLE_TENANT' %}
            <div class="col-6">
                <a href="{{ path('app_flats_utility_meters_new', {id: flat.id}) }}" class="btn btn-success">Add new reading</a>
            </div>
        {% endif %}
    </div>

{% endblock %}