<div class="card-body">
    <h5 class="card-title text-secondary text-center">
        {{ specialist.name }}<br>
        <small style="font-weight: lighter;">{{ specialist.profession }}</small>
    </h5>
    <div class="specialist-contact">
        {% if specialist.phone %}
            <a href="tel:{{ specialist.phone }}">{{ specialist.phone }}</a> <br>
        {% endif %}
        {% if specialist.email %}
            <a href="mailto:{{ specialist.email }}">{{ specialist.email }}</a> <br>
        {% endif %}
        {% if specialist.address %}
            {{ specialist.address }}
        {% endif %}
    </div>
    {% if specialist.note %}
        <hr>
        <p class="card-text">{{ specialist.note }}</p>
    {% endif %}
    {% if specialist.gmb %}
        <hr>
        <iframe src="{{ specialist.gmb }}" height="450" style="border:0; max-width: 100%; width: 100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    {% endif %}
</div>