<div class="row mt-2">
    {{ form_errors(form.rent) }}
    <div class="col-2">
        {{ form_label(form.rent) }}
    </div>
    <div class="col-sm-3">
        {{ form_widget(form.rent) }} <span>zł</span>
    </div>
</div>
<div class="row mt-2">
    <div class="col-2">
        {{ form_label(form.deposit) }}
    </div>
    <div class="col-sm-3">
        {{ form_widget(form.deposit) }} <span>zł</span>
    </div>
</div>
<div class="row mt-2">
    <div class="col-2">
        {{ form_label(form.fees) }}
    </div>
</div>
<button type="button" class="btn btn-primary mt-2" id="add-more" data-form-id="{{ form.vars.id }}">Add fee</button>
<ul id="fees-container" style="padding-left: 0;">
    {{ form_widget(form.fees) }}
</ul>