<div class="row mt-2">
    <div class="col-2">
        {{ form_label(form.area) }}
    </div>
    <div class="col-sm-3">
        {{ form_widget(form.area) }} <span>m<sup>2</sup></span>
    </div>
</div>
<div class="row mt-2">
    <div class="col-2">
        {{ form_label(form.numberOfRooms) }}
    </div>
    <div class="col-sm-3">
        {{ form_widget(form.numberOfRooms) }}
    </div>
</div>
<div class="row mt-2">
    <div class="col-2">
        {{ form_label(form.address) }}
    </div>
    <div class="col-sm-3">
        {{ form_widget(form.address) }}
    </div>
</div>
<div class="row mt-2">
    <div class="col-2">
        {{ form_label(form.floor) }}
    </div>
    <div class="col-sm-3">
        {{ form_widget(form.floor) }}
    </div>
</div>
<div class="row mt-2">
    <div class="col-2">
        {{ form_label(form.maxFloor) }}
    </div>
    <div class="col-sm-3">
        {{ form_widget(form.maxFloor) }}
    </div>
</div>