{% extends '/panel/page.html.twig' %}

{% block content %}
    {% if app.user is same as user %}
        {% set current_user = true %}
    {% else %}
        {% set current_user = false %}
    {% endif %}
    <div class="container-fluid px-4">
        <div class="row my-4">
            {% for flash_error in app.flashes('error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

            <div class="col-md-4 mb-3">
                <div class="card bg-secondary h-100">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            {{ form_start(form) }}
                            <label for="edit_profile_form_image" class="edit-image-form">
                                <div class="image-container">
                                    <img src="/uploads/profile_pictures/{{ user.image }}" alt="Profile image" class="rounded-circle" width="150px" height="150px">
                                    <div class="overlay">
                                        <span class="caption">Edit</span>
                                    </div>
                                </div>
                            </label>
                            <div class="d-none">
                                {{ form_widget(form.image) }}
                            </div>
                            <div class="mt-3">
                                <a class="btn btn-outline-danger my-2 delete-profile-picture" data-user-id="{{ user.id }}">Delete profile picture</a>
                                <h4 class="mt-3">{{ user.name }}</h4>
                                <p class="text-secondary mb-1">{{ (user.roles[0] == 'ROLE_LANDLORD') ? 'Landlord' : 'Tenant' }}</p>
                                <p class="text-muted font-size-sm">{{ user.address }}</p>
                                {% if not current_user %}
                                    <button class="btn btn-outline-success">Message</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card bg-secondary mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Full Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ form_widget(form.name) }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Date of birth</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ form_widget(form.dateOfBirth) }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6> <small>If you want to change email, contact an admin</small>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ user.email }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ form_widget(form.phone) }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ form_widget(form.address) }}
                            </div>
                        </div>
                        <hr>
                        <button type="submit" class="btn btn-primary mt-4">Update profile</button>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}