{% extends '/panel/page.html.twig' %}

{% block content %}
    {% if app.user is same as user %}
        {% set current_user = true %}
    {% else %}
        {% set current_user = false %}
    {% endif %}
<div class="container-fluid px-4">
    <div class="row my-4">
        {% for flash_error in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
        <div class="col-md-4 mb-3">
            <div class="card bg-secondary h-100">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="/uploads/profile_pictures/{{ user.image }}" alt="Admin" class="rounded-circle profile-picture" width="150px" height="150px">
                        <div class="mt-3">
                            <h4 class="profile-name">{{ user.name }}</h4>
                            <p class="text-secondary mb-1 profile-role">{{ (user.roles[0] == 'ROLE_LANDLORD') ? 'Landlord' : 'Tenant' }}</p>
                            <p class="text-muted font-size-sm profile-address">{{ user.address }}</p>
                            {% if not current_user %}
                                <button class="btn btn-outline-success">Message</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card bg-secondary mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Full Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary profile-table-name">
                            {{ user.name }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Date of birth</h6>
                        </div>
                        <div class="col-sm-9 text-secondary profile-table-date-of-birth">
                            {{ user.dateOfBirth | date('d-m-Y') }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary profile-table-email">
                            <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Phone</h6>
                        </div>
                        <div class="col-sm-9 text-secondary profile-table-phone">
                            <a href="tel:{{ user.phone }}">{{ user.phone }}</a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Address</h6>
                        </div>
                        <div class="col-sm-9 text-secondary profile-table-address">
                            {{ user.address }}
                        </div>
                    </div>
                    <hr>
                    {% if current_user %}
                    <div class="row">
                        <div class="col-sm-12">
                            <a class="btn btn-success profile-edit" href="{{ path('app_profile_edit', {id: user.id}) }}">Edit</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if current_user and user.roles[0] == 'ROLE_TENANT' %}
    <div class="row my-4">
        <h3>Your flat</h3>
        <div class="col-md-4 mb-3">
            <div class="card bg-secondary">
                <div class="card-body">
                    {% if user.getFlatId %}
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="/uploads/flats/pictures/user{{ user.getFlatId.landlord.id}}/{{ user.getFlatId.pictures | first }}" alt="Admin" class="rounded" width="250">
                        <div class="mt-3">
                            <h4>{{ user.getFlatId.address }}, {{ user.getFlatId.area }}m<sup>2</sup>, {{ user.getFlatId.rent }}zł <sup class="mx-1"><a href="{{ path('app_flats_view', {id: user.getFlatId.id}) }}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a></sup></h4>
                            <p class="text-secondary mb-1">{{ (user.getFlatId.description|length > 100 ? user.getFlatId.description|slice(0, 100) ~ '...': user.getFlatId.description) | striptags}}</p>
                            <small class="text-muted text-sm">Tenant since {{ user.tenantSince | date('d-m-Y') }}</small>
                        </div>
                    </div>
                    {% else %}
                        <span class="text-muted">Currently you are not assigned with any flat — you can enter invitation code below</span>
                        {{ form_start(invitation_code_form) }}
                        <div class="row my-4">
                            <div class="col-sm-2">
                                {{ form_label(invitation_code_form.code) }}
                            </div>
                            <div class="col-sm-10">
                                {{ form_widget(invitation_code_form.code) }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary mt-4">Enter code</button>
                        {{ form_end(invitation_code_form) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}