{% extends '/panel/page.html.twig' %}

{% block content %}
    <div class="m-4">
        <div class="row">
            <h1>Your flat</h1>
            <div class="card col-md-8 m-3 p-0 border-0">
                {% if flat.pictures %}
                    {% include 'panel/flats/_partials/_flat_parts/_flat_slider.html.twig' %}
                {% endif %}
                <div class="card-body">
                    {% include 'panel/flats/_partials/_flat_parts/_static_info.html.twig' %}
                    {% if flat.picturesForTenant %}
                        {% include 'panel/flats/_partials/_flat_parts/_pictures_for_tenant.html.twig' %}
                    {% endif %}
                </div>
                {% include 'panel/flats/_partials/_flat_parts/_role_buttons.html.twig' %}
            </div>
            <div class="card col-md-3 m-3 p-3 border-0">
            {% if app.user.roles[0] == 'ROLE_LANDLORD' %}
                {% include 'panel/flats/_partials/_flat_parts/_landlord_sidebar.html.twig' %}
            {% elseif app.user.roles[0] == 'ROLE_TENANT' %}
                {% include 'panel/flats/_partials/_flat_parts/_tenant_sidebar.html.twig' %}
            {% endif %}
                <h2 class="text-black text-center my-2">Specialists</h2>
                {% if flat.specialists is empty %}
                    There are no specialists associated with this flat
                {% else %}
                    {% for specialist in flat.specialists %}
                        <div class="row border py-2 m-1">
                            <div class="col-sm-12">
                                {{ specialist.name }}, {{ specialist.profession }}
                                <a class="mx-1" href="{{ path('app_specialists_view', {id: specialist.id}) }}" title="Go to the specialist profile"><i class="fa-solid fa-user"></i></a>
                                {% if specialist.phone %}
                                    <a href="tel:{{ specialist.phone }}" title="call {{ specialist.name }}"><i class="fa-solid fa-phone"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                <hr>
                {% if app.user.roles[0] == 'ROLE_LANDLORD' %}
                    <div class="row my-4">
                        <div class="col-lg-6 my-2">
                            <a href="{{ path('app_flats_generate_invitation_code', {id: flat.id}) }}" class="btn btn-warning">Generate invitation code</a>
                        </div>
                        <div class="col-lg-6 my-2">
                            <a href="{{ path('app_flats_utility_meters', {id: flat.id}) }}" class="btn btn-primary">Check state of utility meters</a>
                        </div>
                    </div>
                {% elseif app.user.roles[0] == 'ROLE_TENANT' %}
                    <div class="row my-4">
                        <div class="col-lg-6 my-2">
                            <a href="{{ path('app_flats_utility_meters', {id: flat.id}) }}" class="btn btn-primary">Check state of utility meters</a>
                        </div>
                        <div class="col-lg-6 my-2">
                            <a href="{{ path('app_flats_remove_tenant', {flatId: flat.id, tenantId: app.user.Id}) }}" class="btn btn-danger">Remove me from this apartment</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}