{% extends '/panel/page.html.twig' %}

{% block content %}
    <div class="m-4">
        <a href="{{ path('app_flats_new') }}" class="btn btn-primary mb-3">Add new flat</a><br>
        {% if flats %}
            <h1>Your flats</h1>
            <div class="row">
            {% for flat in flats %}
                <div class="card col-3 m-3 p-0 border-0">
                    <figure>
                        <img class="card-img-top" src="/uploads/flats/pictures/user{{ app.user.id }}/{{ flat.pictures|first }}" alt="{{ flat.address }}">
                    </figure>
                    <div class="card-body">
                        <h5 class="card-title text-secondary">{{ flat.address }}, {{ flat.area }} m<sup>2</sup>, {{ flat.rent }}zł</h5>
                        <p class="card-text">{{ flat.description|length > 100 ? flat.description|slice(0, 100) ~ '...': flat.description }}</p>
                        <a href="{{ path('app_flats_view', {id: flat.id}) }}" class="btn btn-primary">See more</a>
                        <a href="{{ path('app_flats_delete', {id: flat.id}) }}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% else %}
            Currently you don't have any flats - start by adding a new one!
        {% endif %}
    </div>

{% endblock %}