{% extends '/panel/page.html.twig' %}

{% block content %}
    <div class="bg-secondary rounded m-4 p-3 row">
        <div class="col-lg-3 add-flat-steps">
            Steps:
            {% include '@CraueFormFlow/FormFlow/stepList.html.twig' %}
        </div>
        <div class="col-lg-9 mt-2 px-5">
            {{ form_start(form, {'attr': {'id': 'new_flat_form'}}) }}
            {{ form_errors(form) }}

            {% if flow.getCurrentStepNumber() == 1 %}
                <div class="row mt-2">
                    <div class="col-2">
                        {{ form_label(form.area) }}
                    </div>
                    <div class="col-sm-3">
                        {{ form_widget(form.area) }} <span>m<sup>2</sup></span>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-2">
                        {{ form_label(form.numberOfRooms) }}
                    </div>
                    <div class="col-sm-3">
                        {{ form_widget(form.numberOfRooms) }}
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-2">
                        {{ form_label(form.address) }}
                    </div>
                    <div class="col-sm-3">
                        {{ form_widget(form.address) }}
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-2">
                        {{ form_label(form.floor) }}
                    </div>
                    <div class="col-sm-3">
                        {{ form_widget(form.floor) }}
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-2">
                        {{ form_label(form.maxFloor) }}
                    </div>
                    <div class="col-sm-3">
                        {{ form_widget(form.maxFloor) }}
                    </div>
                </div>
            {% elseif flow.getCurrentStepNumber() == 2 %}
                <div class="row mt-2">
                    {{ form_errors(form.rent) }}
                    <div class="col-2">
                        {{ form_label(form.rent) }}
                    </div>
                    <div class="col-sm-3">
                        {{ form_widget(form.rent) }} <span>zł</span>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-2">
                        {{ form_label(form.deposit) }}
                    </div>
                    <div class="col-sm-3">
                        {{ form_widget(form.deposit) }} <span>zł</span>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-2">
                        {{ form_label(form.fees) }}
                    </div>
                </div>
                <button type="button" class="btn btn-primary mt-2" id="add-more" data-form-id="{{ form.vars.id }}">Add fee</button>
                <ul id="fees-container" style="padding-left: 0;">
                    {{ form_widget(form.fees) }}
                </ul>

            {% elseif flow.getCurrentStepNumber() == 3 %}
                <div class="row mt-2">
                    <div class="col-2">
                        {{ form_label(form.pictures) }}
                    </div>
                    <div class="col-sm-3">
                        {{ form_widget(form.pictures) }}
                    </div>
                </div>
                <div class="row pictures-container">
                    {% for picture in pictures %}
                    <div class="col-sm-3 mb-4 mb-lg-0 mt-3 position-relative flat-picture-box">
                        <a class="delete-picture position-absolute" data-flat-id="{{ flat_id ? flat_id : 0 }}" ><i class="fa-solid fa-x text-danger"></i></a>
                        <img
                                src="{{ picture }}"
                                class="shadow-1-strong rounded mb-4 float-left flat-picture"
                                style="max-width: 100%;"
                        />
                        </div>
                    {% endfor %}
                </div>
                <div class="row mt-2">
                    <div class="col-2">
                        {{ form_label(form.picturesForTenant) }}
                    </div>
                    <div class="col-sm-3">
                        {{ form_widget(form.picturesForTenant) }}
                    </div>
                </div>
                <div class="row pictures-for-tenant-container">
                    {% for picture in pictures_for_tenant %}
                        <div class="col-sm-3 mb-4 mb-lg-0 mt-3 position-relative flat-picture-box">
                            <a class="delete-picture position-absolute" data-flat-id="{{ flat_id ? flat_id : 0 }}"><i class="fa-solid fa-x text-danger"></i></a>
                            <img
                                    src="{{ picture }}"
                                    class="shadow-1-strong rounded mb-4 float-left flat-picture"
                                    style="max-width: 100%;"
                            />
                        </div>
                    {% endfor %}
                </div>
            {% elseif flow.getCurrentStepNumber() == 4 %}
                <div class="row mt-2">
                    <div class="col-2">
                        {{ form_label(form.description) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_widget(form.description) }}
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-2">
                        {{ form_label(form.rentAgreement) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_widget(form.rentAgreement) }}
                    </div>
                </div>
                <div class="row mt-2" id="new_flat_form_furnishing">
                    <div class="col-sm-2">
                        {{ form_label(form.furnishing) }}
                    </div>
                    <div class="col-sm-10 form-control" style="margin-left: 10px;">
                        {% for child in form.furnishing %}
                            <div>
                                {{ form_widget(child) }}
                                {{ form_label(child) }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-2">
                        {{ form_label(form.additionalFurnishing) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_widget(form.additionalFurnishing) }}
                    </div>
                </div>

            {% elseif flow.getCurrentStepNumber() == 5 %}
                <div class="row">
                    <div class="col-sm-8">
                        <h4 class="text-muted">This is what your flat will look like, check if all the data is correct:</h4>
                        <div class="card mt-3">
                            {% if pictures %}
                                <div id="flatPicturesSlider" class="carousel slide" data-bs-interval="false">
                                    <div class="carousel-inner">
                                        {% for picture in pictures %}
                                            <div class="carousel-item {{ (loop.index == 1) ? 'active' : '' }}">
                                                <img class="card-img-top d-block w-100" src="{{ picture }}" alt="{{ form_data.address }}">
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#flatPicturesSlider" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#flatPicturesSlider" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title text-secondary">{{ form_data.address }}</h5>
                                <p class="card-text">
                                <div class="row">
                                    <div class="">
                                        <table class="table table-striped table-flat-info">
                                            <tbody>
                                            <tr>
                                                <td><strong>Area</strong></td>
                                                <td>{{ form_data.area }} m<sup>2</sup></td>
                                                <td></td>
                                                <td></td>
                                                <td><strong>Number of rooms</strong></td>
                                                <td>{{ form_data.numberOfRooms }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Rent</strong></td>
                                                <td>{{ form_data.rent }} zł</td>
                                                <td></td>
                                                <td></td>
                                                <td><strong>Deposit</strong></td>
                                                <td>{{ form_data.deposit }} zł</td>
                                            </tr>
                                            <tr>
                                                <td><strong>Floor</strong></td>
                                                <td>{{ form_data.floor }} / {{ form_data.maxFloor }}</td>
                                                <td></td>
                                                <td></td>
                                                {% if form_data.rentAgreement %}
                                                    <td><strong>Agreement</strong></td>
                                                    <td>
                                                        <a href="/uploads/flats/agreements/user{{ app.user.id }}/{{ rent_agreement }}" download>
                                                            {{ rent_agreement|length > 10 ? rent_agreement|slice(0, 10) ~ '...': rent_agreement}} <i class="fa-solid fa-download"></i>
                                                        </a>
                                                    </td>
                                                {% endif %}
                                            </tr>
                                            </tbody>
                                        </table>
                                        {% if form_data.fees %}
                                            <h5 class="text-secondary">Fees</h5>
                                            <table class="table table-fees">
                                                <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Value</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for fee in form_data.fees %}
                                                    <tr>
                                                        <th scope="row">{{ loop.index }}</th>
                                                        <td>{{ fee.name }}</td>
                                                        <td>{{ fee.value }} zł</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        {% endif %}
                                        {% if form_data.furnishing[0] or form_data.additionalFurnishing %}
                                            <h5 class="text-secondary">Furnishing</h5>
                                            <table class="table table-furnishing">
                                                <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Furnishing</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% set counter = 0 %}
                                                {% for furnishing in form_data.furnishing[0] %}
                                                    {% set counter = loop.index %}
                                                    <tr>
                                                        <th scope="row">{{ counter }}</th>
                                                        <td>{{ furnishing | capitalize }}</td>
                                                    </tr>
                                                {% endfor %}
                                                <tr>
                                                    <th scope="row">{{ counter + 1 }}</th>
                                                    <td>{{ form_data.additionalFurnishing }}</td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        {% endif %}
                                    </div>
                                </div>
                                {% if form_data.description %}
                                    <h5 class="text-secondary">Description</h5>
                                    <p class="flat-description">
                                        {{ form_data.description }}
                                    </p>
                                {% endif %}
                                {% if pictures_for_tenant %}
                                    <h5 class="text-secondary">Pictures taken with tenant</h5>
                                    <!-- Gallery -->
                                    <div class="row pictures-for-tenant">
                                        {% for picture in pictures_for_tenant %}
                                            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                                                <img
                                                        src="{{ picture }}"
                                                        class="w-100 shadow-1-strong rounded mb-4"
                                                        alt="{{ form_data.address }}"
                                                />
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <!-- Gallery -->

                            </div>
                    </div>
                </div>
            {% endif %}

            {{ form_rest(form) }}

            {% include '@CraueFormFlow/FormFlow/buttons.html.twig' with {
                craue_formflow_button_class_back: 'btn btn-secondary craue-btn-back',
                craue_formflow_button_class_last: 'btn btn-success craue-btn-next',
                craue_formflow_button_class_reset: 'btn btn-danger craue-btn-reset',
            } %}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}