<h2 class="text-black text-center">Tenants</h2>
{% if invitation_code.code %}
    <div class="{{ invitation_code.is_code_valid ? 'text-success' : 'text-danger' }}">
        <p>Invitation code:<br> <strong id="invitation-code">{{ invitation_code.code }}</strong> <a href="{{ path('app_flats_delete_invitation_code', {id: flat.id}) }}" class="mx-2 text-danger remove-invitation-code"><i class="fas fa-trash-alt"></i></a> <br>
            <small>
                <i>You can share this code with tenant whom you want to invite</i>
            </small>
        </p>
        <p>
            <small id="expiration-date">
                Valid until: {{ invitation_code.expiration_date }}<br>
            </small>
        </p>
    </div>

{% endif %}
{% if tenants is empty %}
    There are no tenants associated with this flat
{% else %}
    Tenants: <br>
    {% for tenant in tenants %}
        <div class="row border py-2 m-1">
            <div class="col-sm-3">
                <img src="/uploads/profile_pictures/{{ tenant.image }}" style="clip-path: circle();" class="rounded-circle img-fluid" />
            </div>
            <div class="col-sm-9">
                {{ tenant.name }}
                <a class="mx-1" href="{{ path('app_profile', {id: tenant.id}) }}" title="Go to the tenant profile"><i class="fa-solid fa-user"></i></a>
                <a href="{{ path('app_flats_remove_tenant', {flatId: flat.id, tenantId: tenant.id}) }}" class="mx-1 text-danger remove-tenant-from-flat" title="Remove user from this flat"><i class="fas fa-trash-alt"></i></a><br>
                <small>Tenant since: {{ tenant.tenantSince | date("d-m-Y") }}</small>
            </div>
        </div>
    {% endfor %}
{% endif %}