{% if app.user.roles[0] == 'ROLE_LANDLORD' %}
    <div class="row my-4 mx-3">
        <div class="col-sm-6">
            <a href="{{ path('app_flats_edit', {id: flat.id}) }}" class="btn btn-primary">Edit</a>
            <a href="{{ path('app_flats_delete', {id: flat.id}) }}" class="btn btn-danger">Delete</a>
        </div>
    </div>
{% elseif app.user.roles[0] == 'ROLE_TENANT' %}
    {{ form_start(additional_photos_form) }}
    <div class="row my-4 mx-3">
        <div class="col-sm-6">
            {{ form_label(additional_photos_form.picturesForTenant) }}<br>
            <small>Here you can add additional photos of flat. Remember that you won't be able to delete them; only landlord has those permissions</small>
        </div>
        <div class="col-sm-6">
            {{ form_widget(additional_photos_form.picturesForTenant) }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary my-4 mx-3">Submit photos</button>
    {{ form_end(additional_photos_form) }}
{% endif %}